<div class="h-screen w-full grid place-items-center">
  <section
    class="w-full max-w-xl sm:border rounded-2xl pt-3 pb-6 px-6 sm:px-20"
  >
    <div class="flex justify-center mb-8">
      <ng-icon name="faBrandXTwitter" class="text-3xl"></ng-icon>
    </div>
    <h2 class="mb-9 font-bold text-3xl">Sign in to X</h2>
    @if (errorMessage) {
      <p class="text-red-400 mb-4">{{ errorMessage }}</p>
    }
    <div class="mb-6">
      <form class="flex flex-col">
        <input
          class="mb-6 w-full p-3 rounded bg-black text-white border border-neutral-400 h-14"
          type="text"
          name="username"
          id="username"
          placeholder="Email"
          [(ngModel)]="username"
        />

        <input
          class="mb-8 w-full p-3 rounded bg-black text-white border border-neutral-400 h-14"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          [(ngModel)]="password"
        />

        <button
          class="bg-gray-100 py-3 px-5 rounded-full text-black font-bold text-lg transition hover:bg-gray-200 disabled:bg-gray-300 disabled:opacity-50"
          [disabled]="!username || !password"
          (click)="login()"
        >
          Log in
        </button>
      </form>
    </div>
    <div>
      <span class="mr-1 text-neutral-500">Don't have an account?</span>
      <a class="text-sky-500 hover:underline" routerLink="/register">Sign up</a>
    </div>
  </section>
</div>
