@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Public Sans Variable', sans-serif;
}

.weight-bold {
  font-weight: bold;
}

.text-dark {
  color: #6b6b6b;
}

.underline-hover:hover {
  text-decoration: underline;
}
